<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Since 1971, it always has been and will always be about quality. We’re passionate about ethically sourcing only the finest Arabica beans and roasting them with great care.</p>
      <h1>Register here!</h1>
      <p><a class="btn btn-primary btn-lg" [routerLink]="['/register']" routerLinkActive="router-link-active"  href="#" role="button">Register</a></p>
    </div>
  </div>

  
  
      <hr>
  
      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
   <!-- /container -->
  
  

