.jumbotron {
    background-image: url("../../assets/home-cartoon-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.equal {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}